<div class="page">
  <div class="header">
    <mat-toolbar color="primary" class="mat-elevation-z3 toolbar">
      <span>Angular 5 Spring Integration</span>
    </mat-toolbar>
  </div>
  <div class="content">
    <div class="router-container mat-body-2 mat-card mat-elevation-z3">
      <router-outlet></router-outlet>
    </div>

  </div>
  <div class="footer">
    <mat-toolbar color="primary" class="toolbar">
      <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%">
        Angular Application
      </div>
    </mat-toolbar>
  </div>


</div>

